.about-content {
  max-width:800px;
  margin: 0 auto;
}
.about-content h2 {
  font-size: 30px;
  line-height:45px;
  margin-bottom: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333;
  text-transform: uppercase;
}

.about-content p {
  line-height: 30px;
  // font-weight: 300;
  // color: #777;
  // font-size: 18px;
}

.about-content {
  padding-right:40px;
}
